Repository olicassis/ptm-classes: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ignore-path .gitignore --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --ignore-path .gitignore --fix"],
  "*.json": ["prettier --write"]
}

ci: forces lint-staged to use package config
  packages/eslint-config/package.json
  packages/typescript-config/package.json
  packages/utils/package.json
Due: prettier --write

ci: setup husky and commitlint
  .husky/commit-msg
  commitlint.config.js
  package-lock.json
Due: prettier --write

chore: remove whitespaces
  commitlint.config.js
Due: none

docs: update README.md
  README.md
Due: none

ci: add github workflows
  .github/workflows/ci.yml
Due: none

docs: add changelog
  CHANGELOG.md
Due: none

ci: update workflow
  .github/workflows/ci.yml
Due: none

ci: enable CI true
  .github/workflows/ci.yml
Due: none

Revert "ci: enable CI true"
  .github/workflows/ci.yml
Due: none

fix: add missing turbo package
  package-lock.json
  package.json
Due: prettier --write

feat: add docker-compose for postgresql from alpine
  docker/docker-compose.yml
  docker/pg_hba.conf
  docker/postgresql.conf
Due: none

feat: :construction: add db package with v1 of ptm database
  package-lock.json
  packages/db/README.md
  packages/db/package.json
  packages/db/src/dataSource.ts
  packages/db/src/entity/ClassRequest.ts
  packages/db/src/entity/Profile.ts
  packages/db/src/entity/ProfileSchedule.ts
  packages/db/src/entity/ProfileSubject.ts
  packages/db/tsconfig.json
  packages/enum/README.md
  packages/enum/package.json
  packages/enum/src/enums/profile.ts
  packages/enum/tsconfig.json
  packages/typescript-config/base.json
Due: prettier --write, eslint --ignore-path .gitignore --fix

fix: docker-compose errors
  .gitignore
  docker/README.md
  docker/docker-compose.yml
  docker/init.sql
Due: none

feat: add migration for Profile entity
  package-lock.json
  packages/db/package.json
  packages/db/src/dataSource.ts
  packages/db/src/entity/Profile.ts
  packages/db/src/migrations/1721687853560-Profile.ts
  packages/enum/package.json
  packages/typescript-config/package.json
  packages/utils/package.json
Due: prettier --write, eslint --ignore-path .gitignore --fix

feat: add profile schedule and subject migrations
  packages/db/src/migrations/1721944636458-ProfileSchedule.ts
  packages/db/src/migrations/1721947834854-ProfileSubject.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

feat: add migration for ClassRequest entity
  packages/db/src/entity/ClassRequest.ts
  packages/db/src/migrations/1721950743314-ClassRequest.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

feat: add seeds for existing entities
  package-lock.json
  packages/db/README.md
  packages/db/package.json
  packages/db/src/entity/ClassRequest.ts
  packages/db/src/entity/Profile.ts
  packages/db/src/entity/ProfileSchedule.ts
  packages/db/src/entity/ProfileSubject.ts
  packages/db/src/migrations/1721687853560-Profile.ts
  packages/db/src/migrations/1721944636458-ProfileSchedule.ts
  packages/db/src/migrations/1721947834854-ProfileSubject.ts
  packages/db/src/migrations/1721950743314-ClassRequest.ts
  packages/db/src/migrations/1722091754065-RemoveTeacherProfileIdFromClassRequest.ts
  packages/db/src/seeding/factories/classRequest.factory.ts
  packages/db/src/seeding/factories/profile.factory.ts
  packages/db/src/seeding/factories/profileSchedule.factory.ts
  packages/db/src/seeding/factories/profileSubject.factory.ts
  packages/db/src/seeding/seeds/initialSeed.ts
  packages/db/src/seeds.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

feat: :tada: setup app
  package-lock.json
  services/app/nodemon.json
  services/app/package.json
  services/app/src/app.ts
  services/app/tsconfig.json
Due: prettier --write, eslint --ignore-path .gitignore --fix

fix: nodemon config and missing package
  package-lock.json
  services/app/nodemon.json
  services/app/package.json
Due: prettier --write

feat: add healthcheck route
  services/app/package.json
  services/app/src/app.ts
  services/app/src/controllers/healthcheck.ts
  services/app/src/routes/healthcheck.ts
  services/app/src/routes/index.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

feat: integrating Dockerfile and docker-compose to run the app in the container
  docker/Dockerfile
  docker/docker-compose.yml
  package-lock.json
  packages/db/package.json
  packages/enum/package.json
Due: prettier --write

fix: docker context
  docker/docker-compose.yml
Due: none

feat: add basic healthcheck on Dockerfile
  docker/Dockerfile
Due: none

fix: docker standards
  docker/.dockerignore
  docker/Dockerfile
  docker/README.md
  docker/docker-compose.yml
Due: none

feat: add db check on healthcheck route
  services/app/src/controllers/healthcheck.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

docs: add swagger to the project
  package-lock.json
  services/app/package.json
  services/app/src/app.ts
  services/app/src/swagger.ts
  services/app/src/swagger_output.json
Due: prettier --write, eslint --ignore-path .gitignore --fix

test: add tests for healthcheck route
  jest.config.ts
  package-lock.json
  package.json
  src/app.ts
  src/index.ts
  src/tests/healthcheck.test.ts
  src/tests/mocks/setMocks.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

docs: update changelog
  CHANGELOG.md
Due: none

fix: app and database initialization
  package.json
  src/controllers/healthcheck.ts
  src/db/dataSource.ts
  src/index.ts
  src/tests/healthcheck.test.ts
  src/tests/mocks/setMocks.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

feat: add route to get all profiles
  src/controllers/profile.ts
  src/db/repository/profileRepository.ts
  src/routes/index.ts
  src/routes/profile.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

test: add tests for get profiles route
  jest.config.ts
  package-lock.json
  package.json
  src/tests/healthcheck.test.ts
  src/tests/mocks/profile.ts
  src/tests/mocks/setMocks.ts
  src/tests/profile.test.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

feat: add route to get profile by id
  src/controllers/profile.ts
  src/db/repository/profileRepository.ts
  src/routes/profile.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

test: add tests for get profile by id route
  package.json
  src/tests/profile.test.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

feat: add route to get profile subjects
  src/controllers/profile.ts
  src/db/repository/subjectRepository.ts
  src/routes/profile.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

test: add tests for get profile subjects route
  src/tests/mocks/profile.ts
  src/tests/profile.test.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

refactor: adjust get profile route
  src/controllers/profile.ts
  src/routes/profile.ts
  src/tests/profile.test.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

feat: add route to get profile schedules
  src/controllers/profile.ts
  src/db/repository/scheduleRepository.ts
  src/routes/profile.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

test: add tests for get profile schedules route
  src/tests/mocks/profile.ts
  src/tests/profile.test.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

docs: add api docs for get routes
  src/swagger.ts
  src/swagger_output.json
Due: prettier --write, eslint --ignore-path .gitignore --fix
